        <!-- Footer-->
        <footer class="border-top">

                      <div class="small text-center text-muted fst-italic">
                        <p><strong>Data Attribution</strong><br>
                            The financial data displayed on this website is sourced from
                          <a href="https://finance.yahoo.com" target="_blank">Yahoo Finance</a>.
                          We do not guarantee the accuracy, completeness, or timeliness of the data provided.
                          Please verify the information before making any investment decisions.
                        </p>

                        <p><strong>Disclaimer</strong><br>
                        This website is for informational purposes only and does not constitute financial advice.
                          We are not responsible for any losses or damages resulting from the use of this data.
                          Please consult a qualified financial advisor before making any investment decisions.
                        </p>

       </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
